<!-- Modal -->
<div class="modal fade match-modal-<%= match._id %>" id="w<%= match._id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Match Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>Match ID:</strong> <%= match._id %></p>
        <p><strong>Player 1:</strong> <%= match.p1_id.firstName %> <%= match.p1_id.lastName %></p>
        <p><strong>Player 2:</strong> <%= match.p2_id.firstName %> <%= match.p2_id.lastName %></p>
        <p><strong>Player 1 Score:</strong> <%= match.p1_score %></p>
        <p><strong>Player 2 Score:</strong> <%= match.p2_score %></p>
        <p><strong>Date:</strong> <%= match.date %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
        <form
          class="d-inline"
          action="/matches/<%= match._id %>?_method=DELETE "
          method="post"
        >
          <button class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
