<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Groups</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- navbar -->
    <%- include('partials/navbar') %>
    <%- include('partials/sidebar') %>

    <!-- Player list -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <section class="p-5 text-center-">
        <div class="container">
          <div class="text-center">
            <h1>Groups</h1>
            <a href="/sheets" id="sheets" class="btn btn-secondary btn-lg"
              >View Sheets</a
            >
          </div>

          <div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <% if (groups.length > 0) { %>
                <% groups.forEach((group, groupNumber) => { %>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link<% if (groupNumber === 0) { %> show active <% } %>" type="button" id="group<%= groupNumber + 1 %>" data-bs-toggle="tab" data-bs-target="#group<%= groupNumber + 1 %>-tab" role="tab" aria-controls="group<%= groupNumber + 1 %>" aria-selected="false">
                      Group <%= groupNumber + 1 %> <span class="badge bg-primary rounded-pill"><%= group.length %></span>
                    </a>
                  </li>
                <% }) %>
              <% } %>
            </ul>
            <div class="tab-content" id="myTabContent">
              <!-- Tab content goes here -->
              <% if (groups.length > 0) { %>
                <% groups.forEach((group, groupNumber) => { %>
                  <div class="tab-pane fade <% if (groupNumber === 0) { %> show active <% } %>" id="group<%= groupNumber + 1 %>-tab" role="tabpanel" tabindex="0">
                    

                    <ul class="list-group-flush">
                      <h3>Players</h3>
                      <% group.forEach(player => { %>
                        <li class="list-group-item">
                          <%= player.firstName %> <%= player.lastName %> <%= player.rating %>
                        </li>
                      <% }) %>
                    </ul>

                    
                    
                    <ul class="list-group-flush">
                      <li class="list-group-item">
                        <h3>Pairings <span class="badge bg-primary rounded-pill"><%= groupsRR[groupNumber].length %></span></h3>
                      </li>
                    
                      <% groupsRR[groupNumber].forEach(pair => { %>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          <%= pair[0].firstName %> vs <%= pair[1].firstName %>
                          <div class="d-flex">
                            <input type="number" class="form-control form-control-sm me-2" placeholder="Score 1">
                            <input type="number" class="form-control form-control-sm" placeholder="Score 2">
                          </div>
                        </li>
                      <% }) %>
                    </ul>
                  </div>
                <% }) %>
              <% } %>
            </div>
          </div>
          



              
            </div>
          </div>
          
          
         
         
        </div>
      </section>
    </main>
   
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
      integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

    <script>
      feather.replace()
    </script>
  </body>
</html>
