<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>eponger v2</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar py-2 fixed-top">
      <div class="container">
        <a href="" class="navbar-brand"><h1>ePonger</h1></a>
        <button
          class="navbar-toggler navbar-toggler-icon"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
        ></button>
        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="#about" class="nav-link">About the software</a>
            </li>
            <li class="nav-item">
              <a href="#contact" class="nav-link">Contact us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Player list -->
    <section class="p-5 text-center-">
      <div class="container">
        <div class="text-center">
          <h1>Player List</h1>

          <button
            class="btn btn-primary btn-lg"
            data-bs-toggle="modal"
            data-bs-target="#register"
          >
            Register New Player
          </button>
          <a href="/checkedin" id="checkedin" class="btn btn-secondary btn-lg"
            >View Checked In</a
          >
          <div>
            Checked in: <%= playersCheckedIn.length %>
            <!-- <form action="/makeGroups" method="post">
              <label for="numberGroups">Number of Groups?</label>
              <input
                type="number"
                name="numberGroups"
                id="numberGroups"
                placeholder="3"
                required
              />
              <button>Generate Groups</button>
            </form> -->
          </div>
        </div>
      </div>

      <table class="table">
        <thead>
          <tr>
            <!-- <th scope="col">ID</th> -->
            <th scope="col">Rating</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Email</th>
            <th scope="col">Checked In?</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% players.forEach(player => { %>
          <tr>
            <td><%= player.rating %></td>
            <td><%= player.firstName %></td>
            <td><%= player.lastName %></td>
            <td><%= player.email %></td>
            <td><%= playersCheckedIn.includes(player._id.toString()) %></td>
            <td>
              <a
                href="/<%= player._id %>/checkin "
                id="checkin"
                class="btn btn-secondary"
                >Check in</a
              >
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </section>
    <!-- Player detail -->

    <!-- Register new player -->
    <div class="modal" id="register" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Register new player</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p>Fill out all fields.</p>
            <form action="/" method="post" id="form-register">
              <div class="mb-2">
                <label for="firstName" class="col-form-label"
                  >First Name:</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  name="player[firstName]"
                />
              </div>
              <div class="mb-2">
                <label for="lastName" class="col-form-label">Last Name:</label>
                <input
                  type="text"
                  class="form-control"
                  id="lastName"
                  name="player[lastName]"
                />
              </div>
              <div class="mb-2">
                <label for="email" class="col-form-label">Email:</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="player[email]"
                />
              </div>
              <div class="mb-2">
                <label for="rating" class="col-form-label">Rating:</label>
                <input
                  type="number"
                  class="form-control"
                  id="rating"
                  name="player[rating]"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="submit"
              class="btn btn-primary"
              form="form-register"
              formmethod="post"
            >
              Submit
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="group.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
      integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
